body {
  font-family: "Cairo", sans-serif;
  background-color: #f9fbff;
  color: #0a2342;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0a74da;
  color: white;
  padding: 20px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.intro {
  margin: 40px auto;
  width: 80%;
}

footer {
  background-color: #0a74da;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
